﻿<div class="row">
    <div class="col-md-4">
        <div class="well widget" data-ng-controller="AccountListCtrl">
            <div class="clearfix">
                <h3>{{ appData.Strings.Budget }}
                    <small>Para onde está indo seu dinheiro este mês?</small>
                </h3>
                <div class="dropdown">
                    <button class="dropdown-toggle btn" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem">Dummy</a></li>
                    </ul>
                </div>
            </div>
            <div data-ng-controller="BudgetListCtrl">
                <div data-af-budget-progress="" data-name="'Total de despesas'" data-budget-item="totalBudget" data-type="Expense"></div>

                <h4>Despesas</h4>
                <div data-ng-repeat="category in appData.Categories | filter: { Type: 2 }">
                    <div data-af-budget-progress="" data-name="category.Name" data-budget-item="findByCategoryId(budget.Budgets[month], category.Id)" data-type="Expense"></div>
                </div>
                <div data-af-budget-progress="" data-name="'Outras despesas'" data-budget-item="findByCategoryId(budget.Budgets[month], null)" data-type="Expense"></div>

                <h4>Receitas</h4>
                <div data-ng-repeat="category in appData.Categories | filter: { Type: 1 }">
                    <div data-af-budget-progress="" data-name="category.Name" data-budget-item="findByCategoryId(budget.Budgets[month], category.Id)" data-type="Expense"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="well widget" data-ng-controller="CategoryListCtrl">
            <div class="clearfix">
                <h3 class="pull-left">{{ appData.Strings.PendingTransactions }}
                    <small>Precisamos de sua ajuda para categorizar algumas transações</small>
                </h3>

                <div class="dropdown pull-right">
                    <button class="dropdown-toggle btn" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem">Dummy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
