﻿<div class="budget-progress clearfix">
    <div class="pull-left">{{name}}</div>
    <div class="pull-right" data-ng-class="'value-title-' + extraClass + class">
        <span class="pull-left">R$ {{budgetItem.RealValue | number:2}} de R$ {{budgetItem.PlannedValue | number:2}}</span>
        <!--<input class="pull-left" style="width: 150px;" data-af-currency="" class="form-control" type="text" data-ng-model="budgetItem.PlannedValue" required />-->
    </div>
</div>
<div class="progress">
    <div class="progress-bar" data-ng-class="'progress-bar-' + class" data-ng-style="{ width: percent + '%' }"></div>
    <div class="progress-bar" data-ng-class="'progress-bar-' + extraClass + class" data-ng-style="{ width: extraPercent + '%' }"></div>
</div>
