/* Begin Buttons */
body {
  font-family: 'Roboto', sans-serif;
  color: #444;
}
.btn {
    -ms-border-radius: 5px;
    border-radius: 5px;
  font-family: 'effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.1s ease, box-shadow 0.1s ease;
  -moz-transition: -moz-transform 0.1s ease, box-shadow 0.1s ease;
  -ms-transition: transform 0.1s ease, box-shadow 0.1s ease;
  -o-transition: transform 0.1s ease, box-shadow 0.1s ease;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/*.nav .btn:hover, .btn:hover {
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    .nav .btn:active, .btn:active {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }*/
.btn-primary {
  background-color: #1abc9c;
  font-weight: 500;
  color: #FFF;
  /*text-shadow: 0px 2px 0px rgba(7, 126, 9, 0.48);*/
  border: none;
}
.nav .btn-primary:hover,
.btn-primary:hover {
  background-color: #16a085;
  text-decoration: none;
  border: none;
}
/* End Buttons */
/* Begin Links */
a {
  cursor: pointer;
  color: #000;
}
a:hover {
  color: #666;
}
/* End Links */
/* Begin Nav */
.nav > li > a {
  padding: 14px;
}
