@import "../bower_components/bootstrap/less/bootstrap.less";


//Navbar
@navbar-height:                             65px;
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         #16a185;
@navbar-inverse-link-color:                 #fff;

// Wells
@well-bg:                                   #fff;
@well-border:                               #ebedee;