/* ----- O dia em que aprendi Bootstrap com o amigo Afonso, o melhor de JQuery do mundo. ----- */
body {
    background: #FFF url('../img/money-background.png') repeat-x center top;
}

.container {
    padding: 0 80px;
    margin-top: 40px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background: none;
}


.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
}

    .footer p {
        margin-bottom: 0;
    }

        .footer p > a {
            color: #000;
            text-decoration: none;
        }

            .footer p > a:hover {
                text-decoration: underline;
            }

.nav > li > a {
    padding: 10px 30px;
}

/* -------- Pseudoclasses do Bibi -------- */

::selection {
    background: #f5f5f7;
    color: inherit;
}

::-moz-selection {
    background: #f5f5f7;
    color: inherit;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.row h1 {
    font-family: 'effra', 'Helvetica Neue', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #717171;
    margin-bottom: 20px;
}

/* -------- Customização do Media-Querie do Bibi -------- */



@media (min-width:768px) {

    .illumimoneyprogress {
        background: url('../img/piramide.png') no-repeat center -50px;
        font-family: 'Courier New', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        padding-top: 120px;
        height: 400px;
    }

    .jumbotron {
        margin-bottom: 0;
        background: url('../img/logo.png') no-repeat 6px 38px;
    }



        .jumbotron p {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 21px;
            font-weight: 200;
            height: 29px;
            line-height: 29px;
            padding: 5px 0 0 3px;
        }

        .jumbotron h1 {
            color: #00BF1D;
            font-family: 'effra','Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 64px;
            font-weight: 300;
            margin: 0;
        }

        .jumbotron h1, .jumbotron p {
            margin-left: 60px;
        }
}



@media (max-width:767px) {

    .jumbotron {
        padding: 0;
        background: #FFF url('../img/logo.png') no-repeat center 24px;
        padding-top: 120px;
    }

        .jumbotron h1 {
            color: #00BF1D;
            font-size: 48px;
            text-align: center;
        }

        .jumbotron p {
            font-size: 19px;
            height: auto;
            line-height: 26px;
            text-align: center;
            padding: 5px 30px 0 30px;
        }

        .jumbotron h1, .jumbotron p {
            margin: 0;
        }

    /* Classe Adicional do Bibi */

    .illumimoneyprogress {
        background: none;
        font-family: 'Courier New', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        padding: 20px;
        margin: 40px auto;
        border: 1px solid #DDD;
        width: 80%;
    }


    .container {
        padding: 0 40px;
    }
}

