body {
    background-color: #f6f6f6;
    padding-top: 0;
}

.app-body {
    padding-top: 65px;

-webkit-box-shadow: inset 0px 75px 50px -20px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 75px 50px -20px rgba(0,0,0,0.5);
box-shadow: inset 0px 75px 50px -20px rgba(0,0,0,0.5);
}

/* Begin Import Transactions */
.semitransparent {
    -ms-opacity: 0.3;
    opacity: 0.3;
}
/* End Import Transactions */

/* Begin Loading Bar*/
#loading-bar-spinner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}

#loading-bar {
    z-index: 1000 !important;
}

#loading-bar .bar {
    height: 4px;
}
/* End Loading Bar*/

/* Begin Validation */
input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty, .ng-dirty input.ng-invalid, .ng-dirty select.ng-invalid {
    border: 1px solid rgb(255, 159, 159);
    color: rgb(255, 74, 74);
}

input.ng-invalid.ng-dirty:focus, select.ng-invalid.ng-dirty:focus, .ng-dirty input.ng-invalid:focus, .ng-dirty select.ng-invalid:focus, .ng-dirty textarea.ng-invalid:focus {
    border: 1px solid #ff9f9f !important;
    border: 1px solid rgba(255, 159, 159,0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000,0 0 8px #ff9f9f !important;
    -ms-box-shadow: inset 0 1px 1px #000000,0 0 8px #ff9f9f !important;
    box-shadow: inset 0 1px 1px #000000,0 0 8px #ff9f9f !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 159, 159,.6) !important;
}

/* End Validation */

.widget {
    position: relative;
}

.widget h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    color: #555;
}

.widget h3 small {
    display: block;
    margin-top: 7px;
    font-size: 56%;
    color: #bdbdbd;
}

.widget .dropdown-toggle {
    background-color: transparent;
    font-size: 14px;
    padding: 0;
}

.widget .list {
    list-style: none;
    padding: 0;
}

.widget .list-item {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
    clear: both;
    position: relative;
}

.widget .list-item:hover .list-item-actions {
    display: block;
}

.widget .list-item img {
    float: left;
    width: 50px;
    margin-right: 15px;
}

.widget .list-item .list-item-name {
    text-transform: uppercase;
    font-weight: 500;
}

.widget .list-item .account-balance {
    font-size: 20px;
    font-weight: 300;
}

.widget .list-item .list-item-actions {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.widget h4:last-child {
    margin-top: 20px;
}

.widget .expenses-title {
    margin-top: 30px;
}

.well {
    border-width: 2px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.progress {
    height: 26px;
    padding: 2px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #f0f0f0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.progress .progress-bar {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress .progress-bar-success {
    background-color: #5accb6;
}

.progress .progress-bar-extra-success {
    background-color: #4fb39f;
}

.progress .progress-bar-danger {
    background-color: #ea7d73;
}

.progress .progress-bar-extra-danger {
    background-color: #cc6d64;
}

.progress .progress-bar-warning {
    background-color: #f2b655;
}

.budget-progress .pull-left {
    font-size: 16px;
}

.budget-progress {
    margin-bottom: 5px;
}


.budget-progress .value-title-warning {
    color: #f2b655;
    font-weight: 500;
}

.budget-progress .value-title-success {
    color: #b7b7b7;
}

.budget-progress .value-title-extra-success {
    color: #4fb39f;
    font-weight: 600;
}

.budget-progress .value-title-extra-danger {
    color: #cc6d64;
    font-weight: 600;
}

.budget-progress .value-title-danger {
    color: #ea7d73;
    font-weight: 500;
}

.navbar {
    border: none;
}

.navbar .nav li a {
    line-height: 37px;
    font-size: 16px;
}

.navbar .invert {
    background-color: #149177;
}

.nav li a {
    padding-left: 24px;
    padding-right: 24px;
}

.nav li a span {
    padding: 0 10px;
}

.user-logo {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
}

/* Budget */

.budget .column {
    float: left;
    width: 7.142857142857143%;
    border-bottom: 1px solid #ccc;
}

.budget .column.column-2x {
    float: left;
    width: 14.28571428571429%;
}

.budget .column .cell.header {
    text-align: center;
}

.budget .column-2x .header {
    text-align: left !important;
}

.budget .header {
    background-color: #16a185 !important;
    color: #fff;
    padding: 14px 5px;
}

.budget .column .cell {
    height: 50px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: transparent;
    position: relative;
}

.budget .budget-item {
    text-align: right;
    cursor: pointer;
    padding: 15px 10px;
}

.budget .budget-item span {
    position: absolute;
    right: 4px;
    bottom: 0;
    color: #ccc;
}

.budget-item:hover {
    border: 2px solid #12826b;
    padding: 13px 8px 12px;
}

.budget-item:active {
    background-color: #107460;
    color: #fff;
}

.budget .column:last-child {
    border-right: 1px solid #ddd;
}

.budget .budget-item-total {
    padding: 5px;
    text-align: right;
    background-color: #ddd !important;
    padding: 15px 10px;
}

.budget-item-real {
    background-color: #eee;
}

.budget-item-planned {
    background-color: #fff;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.column-selected {
    border-left: 2px solid #12826b;
}

.budget-content {
    padding-top: 30px;
}

#memo {
    font-family: "courier";
    height: 200px;
}

/* End Budget */
