/* General styles for all menus */
.slide-menu {
    background: #107460;
    position: fixed;
    width: 240px;
    height: 100%;
    top: 65px;
    z-index: 1000;
    left: -240px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .slide-menu a {
        display: block;
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;
        padding: 15px 30px;
        font-size: 16px;
        border-bottom: 1px solid;
    }

        .slide-menu a:hover {
            background: #16a185;
            color: #fff;
            text-decoration: none;
        }

    .slide-menu.slide-menu-open {
        left: 0;
    }

    .slide-menu ul {
        padding: 0;
        margin: 0;
    }

    .slide-menu li {
        list-style: none;
    }

.slide-menu-button {
    font-size: 28px;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 6px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .slide-menu-button.selected {
        margin-left: -30px;
        margin-right: 20px;
    }

.brand-lg {
    display: none;
}

@media (min-width:768px) {
    .brand-lg {
        display: block;
    }

    .brand-sm {
        display: none;
    }
}
