<form novalidate>
    <div class="form-group">
        <label for="name">{{ appData.Strings.Name }}</label>
        <input class="form-control" id="name" type="text" data-ng-model="category.Name" required />
    </div>

    <div class="form-group">
        <label for="name">{{ appData.Strings.Type }}</label>
        <select class="form-control" data-ng-model="category.Type" data-ng-options="item.Id as item.Name for item in appData.CategoryTypes" required></select>
    </div>
</form>
