<!DOCTYPE html>
<html data-ng-app="poupeme" class="no-js"  lang="pt-BR" style="height: 100%">
    <head>
        <title>poupe.me</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
        <meta name="description" content="">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(app) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />    
        <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link href="styles/bootstrap.css" rel="stylesheet" />
        <link href="styles/datepicker.css" rel="stylesheet"/>
        <link href="styles/slide-menu.css" rel="stylesheet" />
        <link href="styles/font-roboto.css" rel="stylesheet" />
        <link href="styles/common.css" rel="stylesheet" />
        <link href="styles/main.css" rel="stylesheet">
        <link href="styles/login.css" rel="stylesheet" type="text/css"/>
        <!-- endbuild -->
    </head>
    <body  data-ng-controller="MenuCtrl" data-ng-swipe-right="menuopened=true" data-ng-swipe-left="menuopened=false" style="height: 100%">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="app-body">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand brand-sm" data-ng-click="menuopened = !menuopened" style="padding: 12px 40px 12px 15px;">
                            <div class="pull-left slide-menu-button" data-ng-class="menuopened?'selected':''">
                                <i class="fa fa-bars"></i>
                            </div>
                            <img src="./images/app-logo.png" alt="poupe.me" class="pull-left" />
                        </a>
                        <a class="navbar-brand brand-lg" href="#" style="padding: 12px 40px 12px 15px;">
                            <img src="./images/app-logo.png" alt="poupe.me" class="pull-left" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" style="display:none" >
                        <div data-ng-show="authentication.isAuth">
                            <ul class="nav navbar-nav">
                                <li data-ng-class="getClass('/dashboard')">
                                    <a href="#/dashboard">{{ appData.Strings.Dashboard}}</a>
                                </li>

                                <li data-ng-class="getClass('/transactions')">
                                    <a href="#/transactions">{{ appData.Strings.Transactions}}</a>
                                </li>

                                <li data-ng-class="getClass('/budget')">
                                    <a href="#/budget">{{ appData.Strings.Budget}}</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class="invert dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <img class="user-logo img-circle" src="https://www.gravatar.com/avatar/cc095bc945eb400a03676f6c5746280f" alt="user-photo" />
                                        <span>{{ user.Email}}</span>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href="/User/Profile">{{ appData.Strings.Profile}}</a></li>
                                        <li class="divider"></li>-->
                                        <li><a data-ng-click="logout()">{{ appData.Strings.Logout}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <script src="scripts/helpers/uservoice.js" type="text/javascript"></script>
                </div>

                <nav class="slide-menu" data-ng-class="menuopened?'slide-menu-open':''">
                    <ul data-ng-click="menuopened = false">
                        <li><a class="dropdown-toggle" data-toggle="dropdown">
                                <img class="user-logo img-circle" src="https://www.gravatar.com/avatar/cc095bc945eb400a03676f6c5746280f" alt="user photo" />
                                <span>{{ user.Email}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/transaction/create">{{ appData.Strings.CreateTransaction}}</a>
                        </li>
                        <li>

                            <a href="#/dashboard">{{ appData.Strings.Dashboard}}</a>
                        </li>
                        <li>
                            <a data-ng-click="logout()">{{ appData.Strings.Logout}}</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div data-ng-cloak="" class="container" role="main" style="margin-top: 25px">
                <div data-ng-view="" data-ng-animate=" 'animate' "></div>
            </div>
        </div>

        <script src="scripts/helpers/analytics.js" type="text/javascript"></script>

        <!-- build:js(app) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(app) scripts/vendor.js -->
        <!-- bower:js -->
        
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/toastr/toastr.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        
        <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
        <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
        <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/filters/resource.pt-br.js"></script>
        <script src="scripts/helpers/numberParser.js" type="text/javascript"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/appDataService.js"></script>
        <script src="scripts/services/accountService.js"></script>
        <script src="scripts/services/budgetService.js"></script>
        <script src="scripts/services/categoryService.js"></script>
        <script src="scripts/services/createDialogService.js"></script>
        <script src="scripts/services/notificationService.js"></script>
        <script src="scripts/services/transactionService.js"></script>
        <script src="scripts/services/underscoreService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/services/authInterceptorService.js"></script>
        <script src="scripts/services/authService.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/filters/constants.js"></script>

        <script src="scripts/controllers/homeController.js"></script>
        <script src="scripts/controllers/dashboardController.js"></script>
        <script src="scripts/controllers/accountController.js"></script>
        <script src="scripts/controllers/categoryController.js"></script>
        <script src="scripts/controllers/transactionController.js"></script>
        <script src="scripts/controllers/budgetController.js"></script>
        <script src="scripts/controllers/userController.js"></script>
        <!-- endbuild -->
    </body>
</html>
