<form novalidate>
    <div class="form-group">
        <label for="plannedValue">{{ appData.Strings.PlannedValue }}</label>
        <input data-af-currency="" class="form-control" id="plannedValue" type="text" data-ng-model="budgetItem.PlannedValue" required />
    </div>

    <div class="form-group">
        <label for="realValue">{{ appData.Strings.RealValue }}</label>
        <input data-af-currency="" disabled="disabled" class="form-control" id="realValue" type="text" data-ng-model="budgetItem.RealValue" required />
    </div>

    <div class="form-group">
        <label for="memo">{{ appData.Strings.Memo }}</label>
        <textarea class="form-control" id="memo" data-ng-model="budgetItem.Memo" style="height: 250px"></textarea>
    </div>
</form>
