﻿<div class="budget-item" data-ng-class="(disabled?'budget-item-real':'budget-item-planned')">
    {{ (disabled?item.RealValue:item.PlannedValue) | number:2 }}
    <span data-ng-show="item.Memo" title="{{item.Memo}}">●</span>
</div>
