<ul class="nav nav-tabs">
    <li data-ng-class="type=='yearly'?'active':''" data-ng-click="type='yearly'"><a href="" data-toggle="tab">{{ appData.Strings.Yearly }}</a></li>
    <li data-ng-class="type=='monthly'?'active':''" data-ng-click="type='monthly'"><a href="" data-toggle="tab">{{ appData.Strings.Monthly }}</a></li>

    <div class="pull-right">
        <div class="btn-group" data-ng-show="type=='yearly'">
            <button type="button" class="btn btn-default" data-ng-click="prevYear()"><i class="fa fa-caret-left"></i></button>
            <button type="button" class="btn btn-default" disabled="disabled" style="width: 80px">{{ year }}</button>
            <button type="button" class="btn btn-default" data-ng-click="nextYear()"><i class="fa fa-caret-right"></i></button>
        </div>

        <div class="btn-group" data-ng-show="type=='monthly'">
            <button type="button" class="btn btn-default" data-ng-click="prevMonth()"><i class="fa fa-caret-left"></i></button>
            <button type="button" class="btn btn-default" disabled="disabled" style="width: 180px">{{ appData.Strings["Month" + month] }} {{ appData.Strings.Of }} {{ year }}</button>
            <button type="button" class="btn btn-default" data-ng-click="nextMonth()"><i class="fa fa-caret-right"></i></button>
        </div>


        <button data-ng-click="save()" class="btn btn-primary">{{ appData.Strings.Save }}</button>
    </div>
</ul>

<div class="tab-content budget-content">
    <div class="budget" data-ng-show="type=='yearly'">
        <div class="column column-2x">
            <div class="cell header"></div>
            <div class="cell header">{{ appData.Strings.PreviousBalance }}</div>

            <div class="cell header" data-ng-repeat="category in appData.Categories | filter: { Type: 1 }">{{ category.Name }}  </div>
            <div class="cell header">{{ appData.Strings.TotalIncomings }}</div>

            <div class="cell header" data-ng-repeat="category in appData.Categories | filter: { Type: 2 }">{{ category.Name }}</div>
            <div class="cell header">{{ appData.Strings.OtherExpenses }}</div>
            <div class="cell header">{{ appData.Strings.TotalExpenses }}</div>

            <div class="cell header">{{ appData.Strings.MonthlyBalance }}</div>
            <div class="cell header">{{ appData.Strings.YearlyBalance }}</div>
        </div>

        <div data-ng-repeat="(monthId, budgetMonth) in budget.Budgets" class="column" data-ng-class="(appData.CurrentMonth==monthId && year == appData.CurrentYear)?'column-selected':''">
            <div class="cell header">{{ appData.Strings["Month" + monthId] }}</div>
            <div class="cell budget-item-total">{{ absoluteBalance(monthId-1) | number:2 }}</div>

            <div class="cell" data-ng-repeat="category in appData.Categories | filter: { Type: 1 }">
                <div data-ng-click="edit(findByCategoryId(budgetMonth, category.Id))" data-af-budget-cell="" data-disabled="isDisabled(monthId)" data-item="findByCategoryId(budgetMonth, category.Id)"></div>
            </div>
            <div class="cell budget-item-total">{{ getCategoryTypeMonthBalance(monthId, 1) | number:2 }}</div>

            <div class="cell" data-ng-repeat="category in appData.Categories | filter: { Type: 2 }">
                <div data-ng-click="edit(findByCategoryId(budgetMonth, category.Id))" data-af-budget-cell="" data-disabled="isDisabled(monthId)" data-item="findByCategoryId(budgetMonth, category.Id)"></div>
            </div>
            <div class="cell">
                <div data-ng-click="edit(findByCategoryId(budgetMonth, null))" data-af-budget-cell="" data-disabled="isDisabled(monthId)" data-item="findByCategoryId(budgetMonth, null)"></div>
            </div>
            <div class="cell budget-item-total">{{ getCategoryTypeMonthBalance(monthId, 2) | number:2 }}</div>

            <div class="cell budget-item-total">{{ monthBalance(monthId) | number:2 }}</div>
            <div class="cell budget-item-total">{{ absoluteBalance(monthId) | number:2 }}</div>
        </div>
    </div>
    <div data-ng-show="type=='monthly'">
        <div data-af-budget-progress="" data-name="'Total de despesas'" data-budget-item="totalBudget" data-type="Expense"></div>

        <h1>Despesas</h1>
        <div data-ng-repeat="category in appData.Categories | filter: { Type: 2 }">
            <div data-af-budget-progress="" data-name="category.Name" data-budget-item="findByCategoryId(budget.Budgets[month], category.Id)" data-type="Expense"></div>
        </div>
        <div data-af-budget-progress="" data-name="'Outras despesas'" data-budget-item="findByCategoryId(budget.Budgets[month], null)" data-type="Expense"></div>

        <h1>Receitas</h1>
        <div data-ng-repeat="category in appData.Categories | filter: { Type: 1 }">
            <div data-af-budget-progress="" data-name="category.Name" data-budget-item="findByCategoryId(budget.Budgets[month], category.Id)" data-type="Expense"></div>
        </div>
    </div>
</div>
