<h1>{{ appData.Strings.EditTransaction }}</h1>

<form name="transactionForm" data-af-submit="update()" novalidate>

    <div class="form-group" data-ng-class="{'ng-invalid': datepickerForm.date.$invalid}">
        <label for="date"><i class="fa fa-calendar"></i>{{ appData.Strings.Date }}</label>
        <input id="date" class="form-control" type="text" data-ng-model="transaction.Date" data-bs-datepicker="" data-autoclose="true" required>
    </div>

    <div class="form-group">
        <label for="value">{{ appData.Strings.Value }}</label>
        <input id="value" class="form-control" type="text" data-ng-model="transaction.Value" data-af-currency="" />
    </div>

    <div class="form-group">
        <label for="value">{{ appData.Strings.Source }}</label>
        <select class="form-control"
            data-ng-model="transaction.SourceDealerId"
            data-ng-options="item.Id as item.Name group by findById(appData.CategoryTypes, item.Type).Name for item in appData.IncomingDealers | filter:excludeDestinyDealer"
            required>
            <option value="" disabled selected>[{{ appData.Strings.Select }}]</option>
        </select>
    </div>

    <div class="form-group">
        <label for="value">{{ appData.Strings.Destiny }}</label>
        <select class="form-control"
            data-ng-model="transaction.DestinyDealerId"
            data-ng-options="item.Id as item.Name group by findById(appData.CategoryTypes, item.Type).Name for item in appData.ExpenseDealers | filter:excludeSourceDealer"
            required>
            <option value="" disabled selected>[{{ appData.Strings.Select }}]</option>
        </select>
    </div>

    <div class="form-group">
        <label for="memo">{{ appData.Strings.Description }}</label>
        <input class="form-control" id="memo" type="text" data-ng-model="transaction.Memo" required />
    </div>

    <div class="well">
        <button data-ng-click="cancel()" class="btn btn-default">{{ appData.Strings.Cancel }}</button>
        <button type="submit" class="btn btn-primary">{{ appData.Strings.Save }}</button>
    </div>

</form>
