﻿<h1>{{ appData.Strings.ImportTransactions }}</h1>

<div data-ng-show="!transactions">
    <div class="form-group">
        <label for="file">{{ appData.Strings.File }}</label>
        <input id="file" class="form-control" data-ng-file-select="" type="file" />
    </div>
    <div class="form-group">
        <label for="file">{{ appData.Strings.Account }}</label>
        <select class="form-control" data-ng-model="importDealerId" data-ng-options="item.Id as item.Name for item in appData.Accounts">
            <option value="" disabled selected>[{{ appData.Strings.Select }}]</option>
        </select>
    </div>
    <div class="form-group">
        <div class="progress">
            <div class="progress-bar" role="progressbar" data-ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>

    <div class="well">
        <button data-ng-click="cancel()" class="btn btn-default">{{ appData.Strings.Cancel }}</button>
        <button data-ng-click="uploader.uploadAll()" data-ng-disabled="!uploader.getNotUploadedItems().length || !importDealerId" class="btn btn-primary">{{ appData.Strings.SendFile }}</button>
    </div>
</div>

<div data-ng-show="transactions">
    <div class="well">
        <button data-ng-click="back()" class="btn btn-default">{{ appData.Strings.Back }}</button>
        <button data-ng-click="import()" class="btn btn-primary">{{ appData.Strings.Import }}</button>
    </div>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>{{ appData.Strings.Date }}</th>
                <th>{{ appData.Strings.Description }}</th>

                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in transactions" data-ng-class="!item.Selected && item.Duplicated?'semitransparent':''">
                <td>
                    <input type="checkbox" data-ng-model="item.Selected" /></td>
                <td>{{ item.Date | date:shortDate }}</td>
                <td><span class="label label-warning" data-ng-show="item.Duplicated">{{ appData.Strings.Duplicated }}</span> {{ item.Memo }}</td>
                <td>{{ findById(appData.Accounts, importDealerId).Name }}</td>
                <td data-ng-class="item.Value<0?'text-danger':''" style="text-align: right">{{item.Value>0?"⇦":""}}{{ item.Value>0?item.Value:(item.Value*-1) | currency }}{{item.Value>0?"":"⇨"}}</td>
                <td>
                    <select class="form-control" data-ng-disabled="!item.Selected && item.Duplicated" data-ng-model="item.DestinyDealerId" data-ng-options="t.Id as t.Name group by findById(appData.CategoryTypes, t.Type).Name for t in (item.Value>0?incomingDealers:expenseDealers)">
                        <option value="" disabled selected>[{{ appData.Strings.Select }}]</option>
                    </select></td>
            </tr>
        </tbody>
    </table>
</div>

