<div class="row">
    <div class="col-md-3">
        <div class="well widget" data-ng-controller="AccountListCtrl">
            <div class="clearfix">
                <h3 class="pull-left">{{ appData.Strings.Accounts }}</h3>

                <div class="dropdown pull-right">
                    <button class="dropdown-toggle btn" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" data-ng-click="new()">{{ appData.Strings.CreateAccount }}</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="list">
                    <li>{{ appData.Strings.Balance }}: {{ total() | number:2 }}</li>
                    <li class="list-item" data-ng-repeat="item in accounts | orderBy:Name">
                        <img src="images/bancodobrasil.png" alt="" />
                        <div class="list-item-name">{{ item.Name }}</div>
                        <div class="account-balance">R$ {{ item.OpeningBalance + item.Balance | number:2 }}</div>
                        <div class="list-item-actions">
                            <a data-ng-click="edit(item)" title="{{ appData.Strings.Edit }}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                            <a data-ng-click="delete(item)" title="{{ appData.Strings.Delete }}" data-af-confirm="{{ appData.Strings.AreYouSureYouWantToDeleteThisItem }}?"><i class="fa fa-eraser"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="well widget" data-ng-controller="CategoryListCtrl">
            <div class="clearfix">
                <h3 class="pull-left">{{ appData.Strings.Categories }}</h3>

                <div class="dropdown pull-right">
                    <button class="dropdown-toggle btn" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-ng-click="newIncoming()">{{ appData.Strings.CreateIncomingCategory }}</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-ng-click="newExpense()">{{ appData.Strings.CreateExpenseCategory }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h4>{{ appData.Strings.Incomings }}</h4>
                <ul class="list">
                    <li class="list-item" data-ng-repeat="item in categories | filter:{ Type: 1 }">
                        <i style="float: left" class="fa fa-truck fa-2x"></i>
                        <div class="list-item-name">&nbsp;&nbsp;{{ item.Name }}</div>
                        <div class="list-item-actions">
                            <a data-ng-click="edit(item)" title="{{ appData.Strings.Edit }}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                            <a data-ng-click="delete(item)" title="{{ appData.Strings.Delete }}" data-af-confirm="{{ appData.Strings.AreYouSureYouWantToDeleteThisItem }}?"><i class="fa fa-eraser"></i></a>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <h4 class="expenses-title">{{ appData.Strings.Expenses }}</h4>
                <ul class="list">
                    <li class="list-item" data-ng-repeat="item in categories |  filter:{ Type: 2 }">
                        <i style="float: left" class="fa fa-truck fa-2x"></i>
                        <div class="list-item-name">&nbsp;&nbsp;{{ item.Name }}</div>
                        <div class="list-item-actions">
                            <a data-ng-click="edit(item)" title="{{ appData.Strings.Edit }}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                            <a data-ng-click="delete(item)" title="{{ appData.Strings.Delete }}" data-af-confirm="{{ appData.Strings.AreYouSureYouWantToDeleteThisItem }}?"><i class="fa fa-eraser"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="well">
            <button data-ng-click="create()" class="btn btn-primary">{{ appData.Strings.Add }}</button>
            <button data-ng-click="import()" class="btn btn-default">{{ appData.Strings.Import }}</button>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" data-ng-click="prevMonth()"><i class="fa fa-caret-left"></i></button>
                <button type="button" class="btn btn-default" disabled="disabled" style="width: 180px">{{ appData.Strings["Month" + appData.CurrentMonth] }} {{ appData.Strings.Of }} {{ appData.CurrentYear }}</button>
                <button type="button" class="btn btn-default" data-ng-click="nextMonth()"><i class="fa fa-caret-right"></i></button>
            </div>
        </div>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{{ appData.Strings.Date }}</th>
                    <th>{{ appData.Strings.Name }}</th>
                    <th>{{ appData.Strings.Source }}</th>
                    <th>{{ appData.Strings.Destiny }}</th>
                    <th>{{ appData.Strings.Value }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in transactions">
                    <td>{{ item.Date | date:shortDate }}</td>
                    <td>{{ item.Memo }}</td>
                    <td>{{ findById(appData.Dealers, item.SourceDealerId).Name }}</td>
                    <td>{{ findById(appData.Dealers, item.DestinyDealerId).Name }}</td>
                    <td style="text-align: right">{{ item.Value | number:2 }}</td>
                    <td><a data-ng-click="edit(item.Id)">{{ appData.Strings.Edit }}</a> | <a data-ng-click="delete(item.Id)" data-af-confirm="{{ appData.Strings.AreYouSureYouWantToDeleteThisItem }}?">{{ appData.Strings.Delete }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
