<form class="form-signin" role="form">
    <h2 class="form-signin-heading">{{ appData.Strings.Login}}</h2>
    <input type="email" class="form-control" placeholder="{{ appData.Strings.Email }}" data-ng-model="loginData.userName" required autofocus>
    <input type="password" class="form-control" placeholder="{{ appData.Strings.Password }}" data-ng-model="loginData.password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="login()">Sign in</button>
    <div data-ng-hide="message === ''" class="alert alert-danger">
        {{message}}
    </div>
</form>