<form novalidate>
    <div class="form-group">
        <label for="name">{{ appData.Strings.Name }}</label>
        <input class="form-control" id="name" type="text" data-ng-model="account.Name" required />
    </div>

    <div class="form-group">
        <label for="openingBalance">{{ appData.Strings.OpeningBalance }}</label>
        <input id="openingBalance" class="form-control" type="text" data-ng-model="account.OpeningBalance" data-af-currency="" />
    </div>
</form>
